.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    /* background-color: black; */
    /* border: 1px solid black; */
    overflow-y: visible;
}

.slide-wrapper {
    width: 100%;
    display: grid;
    gap: 25px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(4, auto);
    padding: 10px;
}

.card {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.student {
    height: 50vh;
}

p {
    text-align: center;
}

.card .student:hover {
    transform: scale(1.1);
    overflow-y: visible;
    cursor: pointer;
}





